@import url('https://use.typekit.net/rpq3gbx.css');

h1 {
	font-family: degular-display, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 2rem;
	font-family: degular-display, sans-serif;
	font-weight: 500;
	font-style: normal;
}

h3 {
	font-size: 1.2rem;
	font-family: degular-display, sans-serif;
	font-weight: 600;
	font-style: normal;
}

p,
button,
a {
	font-family: degular-display, sans-serif;
	font-weight: 600;
	font-style: normal;
}
