@import '../../styles/styles.scss';

header {
	position: relative;
	> div {
		img {
			margin: 35vh 20vw 3vh 20vw;
		}
	}
}

.batik {
	position: absolute;
	width: 30vw;
	&:nth-of-type(1) {
		top: 0;
		right: 0;
	}
	&:nth-of-type(2) {
		z-index: -100;
		transform: rotate(180deg);
		bottom: 10vh;
		left: 0;
	}
}
