@import '../../styles/styles.scss';

.section-pelayanan {
	//background-image: url('../../assets/patient.jpg');
	@include reset-boxmodel;
	background-size: cover;
	background-color: $primary-color;
	margin-top: -15vh;
	height: 120vh;
	> div {
		padding-top: 30vh;
		@include setup-section;
		> h1 {
			color: #fff;
			margin-bottom: 20px;
		}
		ul {
			display: flex;
			flex-direction: row;
			list-style: none;
			justify-content: space-between;
			margin-bottom: 50px;
			li {
				font-size: 1.5rem;
				font-family: degular-display, sans-serif;
				font-weight: 500;
				font-style: normal;
				color: #fff;
				line-height: 90%;
				width: 10vw;
				&:hover {
					border-top: 3px solid $highlight;
					//border-radius: 20px;
				}
			}
		}
	}
}
