@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
// @import '../../styles/typography.scss';

nav {
	@include setup-section;
	margin-left: calc(20vw - 10px);
	position: fixed;
	z-index: 999;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 0px 10px;
	border-radius: 30px;
	box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
	.nav__links {
		display: flex;
		img {
			transform: translateY(40%);
		}
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		li {
			margin: 20px;
		}
		li a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				border-bottom: 2px solid $primary-color;
				transition: border-bottom 2ms fade-in;
			}
		}
	}
	.nav__call-to-action {
		@include reset-boxmodel;
		text-decoration: none;
		color: $primary-color;
		background-color: $highlight;
		padding: 0.8em;
		border-radius: 20px;
		h3 {
			@include reset-boxmodel;
		}
		&:hover {
			border: 2px solid #000;
		}
	}
}
