nav {
	@include setup-section;
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.nav__links {
		display: flex;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		li {
			margin: 20px;
		}
		li a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				border-bottom: 2px solid $primary-color;
				transition: border-bottom 2ms fade-in;
			}
		}
	}
	.nav__call-to-action {
		text-decoration: none;
		color: $primary-color;
		background-color: $highlight;
		padding: 0.8em;
		border-radius: 20px;
		&:hover {
			border: 2px solid #000;
		}
	}
}
